<?xml version="1.0"?>
<config>
	<modules>
		<Simpletask_Youtubeitem>
			<version>0.1.0</version>
		</Simpletask_Youtubeitem>
	</modules>
	<frontend>
		<routers>
			<youtubeitem>
				<use>standard</use>
				<args>
					<module>Simpletask_Youtubeitem</module>
					<frontName>youtubeitem</frontName>
				</args>
			</youtubeitem>
		</routers>
		<layout>
			<updates>
				<youtubeitem>
					<file>youtubeitem.xml</file>
				</youtubeitem>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<youtubeitem>
				<use>admin</use>
				<args>
					<module>Simpletask_Youtubeitem</module>
					<frontName>youtubeitem</frontName>
				</args>
			</youtubeitem>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<youtubeitem module="youtubeitem">
				<title>Youtubeitems</title>
				<sort_order>71</sort_order>
				<children>
					<items module="youtubeitem">
						<title>Manage Lists</title>
						<sort_order>0</sort_order>
						<action>youtubeitem/adminhtml_youtubeitem</action>
					</items>
				</children>
			</youtubeitem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<youtubeitem>
							<title>Youtubeitem Module</title>
							<sort_order>200</sort_order>
						</youtubeitem>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<youtubeitem>
					<file>youtubeitem.xml</file>
				</youtubeitem>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<youtubeitem>
				<class>Simpletask_Youtubeitem_Model</class>
				<resourceModel>youtubeitem_mysql4</resourceModel>
			</youtubeitem>
			<youtubeitem_mysql4>
				<class>Simpletask_Youtubeitem_Model_Mysql4</class>
				<entities>
					<youtubeitem>
						<table>youtubeitem</table>
					</youtubeitem>
				</entities>
			</youtubeitem_mysql4>
		</models>
		<resources>
			<youtubeitem_setup>
				<setup>
					<module>Simpletask_Youtubeitem</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</youtubeitem_setup>
			<youtubeitem_write>
				<connection>
					<use>core_write</use>
				</connection>


			</youtubeitem_write>
			<youtubeitem_read>
				<connection>
					<use>core_read</use>
				</connection>
			</youtubeitem_read>
		</resources>
		<blocks>
			<youtubeitem>
				<class>Simpletask_Youtubeitem_Block</class>
			</youtubeitem>
		</blocks>
		<helpers>
			<youtubeitem>
				<class>Simpletask_Youtubeitem_Helper</class>
			</youtubeitem>
		</helpers>
	</global>
</config>