<?xml version="1.0"?>
<config>
	<modules>
		<Simpletask_Mystream>
			<version>0.1.0</version>
		</Simpletask_Mystream>
	</modules>
	<frontend>
		<routers>
			<mystream>
				<use>standard</use>
				<args>
					<module>Simpletask_Mystream</module>
					<frontName>mystream</frontName>
				</args>
			</mystream>
		</routers>
		<layout>
			<updates>
				<mystream>
					<file>mystream.xml</file>
				</mystream>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<mystream>
				<use>admin</use>
				<args>
					<module>Simpletask_Mystream</module>
					<frontName>mystream</frontName>
				</args>
			</mystream>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<mystream module="mystream">
				<title>Mystreams</title>
				<sort_order>71</sort_order>
				<children>
					<items module="mystream">
						<title>Manage Lists</title>
						<sort_order>0</sort_order>
						<action>mystream/adminhtml_mystream</action>
					</items>
				</children>
			</mystream>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<mystream>
							<title>Mystream Module</title>
							<sort_order>200</sort_order>
						</mystream>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mystream>
					<file>mystream.xml</file>
				</mystream>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<mystream>
				<class>Simpletask_Mystream_Model</class>
				<resourceModel>mystream_mysql4</resourceModel>
			</mystream>
			<mystream_mysql4>
				<class>Simpletask_Mystream_Model_Mysql4</class>
				<entities>
					<mystream>
						<table>mystream</table>
					</mystream>
				</entities>
			</mystream_mysql4>
		</models>
		<resources>
			<mystream_setup>
				<setup>
					<module>Simpletask_Mystream</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mystream_setup>
			<mystream_write>
				<connection>
					<use>core_write</use>
				</connection>


			</mystream_write>
			<mystream_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mystream_read>
		</resources>
		<blocks>
			<mystream>
				<class>Simpletask_Mystream_Block</class>
			</mystream>
		</blocks>
		<helpers>
			<mystream>
				<class>Simpletask_Mystream_Helper</class>
			</mystream>
		</helpers>
	</global>
</config>