<?xml version="1.0"?>
<config>
	<modules>
		<Simpletask_Flashgames>
			<version>0.1.0</version>
		</Simpletask_Flashgames>
	</modules>
	<frontend>
		<routers>
			<flashgames>
				<use>standard</use>
				<args>
					<module>Simpletask_Flashgames</module>
					<frontName>flashgames</frontName>
				</args>
			</flashgames>
		</routers>
		<layout>
			<updates>
				<flashgames>
					<file>flashgames.xml</file>
				</flashgames>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<flashgames>
				<use>admin</use>
				<args>
					<module>Simpletask_Flashgames</module>
					<frontName>flashgames</frontName>
				</args>
			</flashgames>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<flashgames module="flashgames">
				<title>Flashgamess</title>
				<sort_order>71</sort_order>
				<children>
					<items module="flashgames">
						<title>Manage Lists</title>
						<sort_order>0</sort_order>
						<action>flashgames/adminhtml_flashgames</action>
					</items>
				</children>
			</flashgames>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<flashgames>
							<title>Flashgames Module</title>
							<sort_order>200</sort_order>
						</flashgames>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<flashgames>
					<file>flashgames.xml</file>
				</flashgames>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<flashgames>
				<class>Simpletask_Flashgames_Model</class>
				<resourceModel>flashgames_mysql4</resourceModel>
			</flashgames>
			<flashgames_mysql4>
				<class>Simpletask_Flashgames_Model_Mysql4</class>
				<entities>
					<flashgames>
						<table>flashgames</table>
					</flashgames>
				</entities>
			</flashgames_mysql4>
		</models>
		<resources>
			<flashgames_setup>
				<setup>
					<module>Simpletask_Flashgames</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</flashgames_setup>
			<flashgames_write>
				<connection>
					<use>core_write</use>
				</connection>


			</flashgames_write>
			<flashgames_read>
				<connection>
					<use>core_read</use>
				</connection>
			</flashgames_read>
		</resources>
		<blocks>
			<flashgames>
				<class>Simpletask_Flashgames_Block</class>
			</flashgames>
		</blocks>
		<helpers>
			<flashgames>
				<class>Simpletask_Flashgames_Helper</class>
			</flashgames>
		</helpers>
	</global>
</config>